.note_expansion_panel{
    width:50vw;
    margin:auto;
    margin-top:40px;
}

.panel_input_fields{
    display: flex;
    flex-direction: column;
}

.note_done{
    display: flex;
    justify-content: flex-end;
}

.card_btns{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.card_div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cards{
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    width:10em;
    margin:2em; 
    height:auto;
    /* padding:auto; */
    margin-top:50px;
    border:1px solid black;
}